{
  "godotTools.editorPath.godot4": "E:\\Godot_v4.6.3-stable_win64.exe\\Godot_v4.6.3-stable_win64.exe",
  "python.defaultInterpreterPath": "${env:LOCALAPPDATA}\\Programs\\Python\\Python312\\python.exe"
}
